#maincontent{
    width: 90%;
    margin-bottom: 10px;
}
body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #1a1a1a;
    
}
.center{
    border:2px;
}
h2{
    text-align: center;
    padding-bottom: 10px;
    
}
h3{
    text-align: center;
    padding:2px;
    margin: 2px;
}
#chicken, #beef, #sushi{
 
 padding:10px   20px 10px  20px;
 margin:  50px 0px 100px 0px;
 background-color: lightgrey;

 border:2px solid black;
}

/*navbar*/

.navlinks{
    margin-left: 6rem !important;
    margin-right: 5rem !important;
    font-weight: 500 !important;
    visibility: hidden;
    
  }
  
      
  @media only screen and (max-width: 650px) {
  
  
  
   .navlinks {
    margin-left:0rem !important;
    margin-right: 0rem !important;
  visibility: visible;
  
  text-align: center;
 
}

  }
    
  